<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {{ content_for_header }}
  {% comment %} {{ "style.css" |  asset_url |  stylesheet_tag }} {% endcomment %}
  

 {{ "animation.css" | asset_url | stylesheet_tag }}
 {{ "bootstrap.min.css" | asset_url | stylesheet_tag }}
 {{ "snackbar.min.css" | asset_url | stylesheet_tag }}
 {{ "light-box.css" | asset_url | stylesheet_tag }}
 {{ "ion.rangeSlider.min.css" | asset_url | stylesheet_tag }}
 {{ "slick.css" | asset_url | stylesheet_tag }}
 {{ "slick-theme.css" | asset_url | stylesheet_tag }}
 {{ "themify.css" | asset_url | stylesheet_tag }}
 {{ "line-icons.css" | asset_url | stylesheet_tag }}
 {{ "iconfont.css" | asset_url | stylesheet_tag }}
 {{ "font-awesome.css" | asset_url | stylesheet_tag }}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 {{ "flaticon.css" | asset_url | stylesheet_tag }}
 {{ "styles.css" | asset_url | stylesheet_tag }}
 {{ "custom.css" | asset_url | stylesheet_tag }}
 


</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>


{% if settings.cart_type == "drawer" %}
  
{%  section 'cart-drawer' %}
  
{% endif %}


  {% section 'header' %}
 
  <main role="main" id="main-wrapper">

    {{ content_for_layout }}

  </main>

  {% section 'footer' %}
		<!-- All Jquery -->
		<!-- ============================================================== -->
	
    {{ "jquery.min.js" |  asset_url |  script_tag }}
    {{ "popper.min.js" |  asset_url |  script_tag }}
    {{ "bootstrap.min.js" |  asset_url |  script_tag }}
    {{ "ion.rangeSlider.min.js" |  asset_url |  script_tag }}
    {{ "slick.js" |  asset_url |  script_tag }}
    {{ "slider-bg.js" |  asset_url |  script_tag }}
    {{ "lightbox.js" |  asset_url |  script_tag }}
    {{ "smoothproducts.js" |  asset_url |  script_tag }}
    {{ "snackbar.min.js" |  asset_url |  script_tag }}
    {{ "jQuery.style.switcher.js" |  asset_url |  script_tag }}
    {{ "custom.js" |  asset_url |  script_tag }}
  
    <!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->	

		<script>
			function openWishlist() {
				document.getElementById("Wishlist").style.display = "block";
			}
			function closeWishlist() {
				document.getElementById("Wishlist").style.display = "none";
			}
		</script>
		
		<script>
			function openCart() {
				document.getElementById("Cart").style.display = "block";
			}
			function closeCart() {
				document.getElementById("Cart").style.display = "none";
			}
		</script>

		<script>
			function openSearch() {
				document.getElementById("Search").style.display = "block";
			}
			function closeSearch() {
				document.getElementById("Search").style.display = "none";
			}
		</script>		

	</body>

<!-- Mirrored from themezhub.net/kumo-demo-2/kumo/home-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Feb 2023 11:55:21 GMT -->
</html>